#
# This board has 16MB flash and a SPIRAM
#
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=y
CONFIG_SPIRAM_RODATA=y
CONFIG_SPIRAM_SPEED_80M=y
#
# Set up default monitor baud rate
#
CONFIG_ESPTOOLPY_MONITOR_BAUD=115200
#
# Partitions take up just a part of the flash for now
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions-mine.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions-mine.csv"
#
# Not sure about these LVGL settings, inherited
#
CONFIG_LV_TXT_BREAK_CHARS=" ,.;:-_)]}"
CONFIG_LV_THEME_DEFAULT_DARK=y
# CONFIG_LV_USE_SNAPSHOT is not set
# CONFIG_LV_BUILD_EXAMPLES is not set
#
# This one avoids needing lv_conf.h but uses Kconfig instead
#
CONFIG_LV_CONF_SKIP=y
#
#
# CONFIG_LV_USE_PERF_MONITOR is not set
CONFIG_LV_USE_USER_DATA=y
CONFIG_LV_COLOR_DEPTH_16=y
CONFIG_LV_COLOR_DEPTH=16
# CONFIG_LV_COLOR_16_SWAP is not set

CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_32=y
CONFIG_LV_FONT_MONTSERRAT_48=y
